In [70]:
import pandas as pandas
import numpy as numpy


import warnings 
warnings.filterwarnings("ignore")

1) Importing dataset

In [71]:
data = pandas.read_csv("/workspaces/IMDB-Sentiment-Project-Check/IMDB Dataset.csv")

2. Reviewing the data

In [72]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [73]:
# Get dataset shape
rows, cols = data.shape

# Get column names as a list
col_names = data.columns.tolist()

# Note down the type of outputs 
note = f"The dataset contains {rows} input{'s' if rows != 1 else ''} and {cols} column{'s' if cols != 1 else ''}: {', '.join(col_names)}."

# Print the note
print(note)

The dataset contains 50000 inputs and 2 columns: review, sentiment.

In [74]:
type(data)

pandas.core.frame.DataFrame

In [75]:
data.replace({"sentiment": {"positive":1, "negative":0}}, inplace=True)

data.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

3.  Reviewing new data entries

In [76]:
data["sentiment"].value_counts()

sentiment
1    25000
0    25000
Name: count, dtype: int64

In [77]:
data.tail()

                                                  review  sentiment
49995  I thought this movie did a down right good job...          1
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0
49997  I am a Catholic taught in parochial elementary...          0
49998  I'm going to have to disagree with the previou...          0
49999  No one expects the Star Trek movies to be high...          0

In [78]:
from sklearn.model_selection import train_test_split